<!DOCTYPE html>
<html lang="ja">
	<head>
		<%- include("./share/metadata.ejs") %>
		<title>Document</title>
		<%- include("./share/stylesheets.ejs") %>
		<link rel="icon" href="favicon.ico?v=1.1" />
	</head>
	<body>
		<h1>Hello World !</h1>
	</body>
</html>
